flask==3.0.3
flask-cors==5.0.0
opencv-python==4.10.0.84
numpy==2.1.2
transformers==4.46.0
torch==2.5.0
torchvision==0.20.0
deep-translator==1.11.4
pymongo==4.10.1
bcrypt==4.2.0
python-dotenv==1.0.1
PyJWT==2.10.0